body {
    background-color: lightskyblue;
    width: 100vw;
}

header {
    margin-bottom: 2em;
}

header div h1 {
    text-align: center;
}

header div p {
    text-align: center;
    margin: auto;
    font-size: 1.5em;
}

header nav {
    margin: auto;
}
header nav a {
    color: white;
    display: inherit;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}

main {
    margin: auto;
}

main div {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main div #form {
    margin-bottom: 2em;
}

.uploadinfo {
    font-size: 1em;
}

main div #newsongs {
    margin: auto;
}

main div #previoussongs span {
    font-size: 1.25em;
}

#musicinfo {
    font-size: 1.25em;
    text-align: center;
}

#musiccontrols{
    text-align: center;
}

main #login, #register, #logout {
    margin-bottom: 1em;
}
main #login, #register, #logout div {
    font-size: 1.25em;
}

input[type=text] {
    border: 1px solid midnightblue;
    border-radius: 10px;
    font-size: 1.5em;
}

input[type=password] {
    border: 1px solid midnightblue;
    border-radius: 10px;
    font-size: 1.5em;
}

input[type=submit] {
    border: 1px solid midnightblue;
    border-radius: 7px;
    font-size: 1em;
}

input[type=file] {
    border: 1px solid midnightblue;
    border-radius: 7px;
    font-size: 1em;
}

ul {
    list-style-type: none;
}