<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <title>Welcome</title>
        <link rel="stylesheet" href="/css/main.css" />

    </head>

    <body>
        <header>
            <div>
                <h1>The Music Vault</h1>
            </div>

            <div>

                <p>
                    <span th:if="${username != 'user'}">Welcome, <b th:text="${username}" />
                    <p>You may access the <a href="/private/secret.html">music vault</a></p></span>
                </p>

                <p>
                    <span th:if="${username == 'user'}">Welcome to the vault, <b th:text="${username}" />
                    <p>Please log in for site access.</p></span>
                </p>

            </div>
        </header>

        <main>
        <div th:if="${username == 'user'}">
            <div id="login">
                <h2>Login</h2>

                <form action="/auth/login" method="POST">
                    <div>Username: <input type="text" name="username" /></div>
                    <div>Password: <input name="password" type="password" /></div>
                    <input type="submit" />
                </form>
            </div>

            <div id="register">
                <h2>Register</h2>

                <form action="/auth/register" method="POST">
                    <div>Username: <input type="text" name="username" /></div>
                    <div>Password: <input name="password" type="password" /></div>

                    <input type="submit" />
                </form>
            </div>
        </div>

        <div id="logout">
            <h2>Logout</h2>

            <form action="/auth/logout" method="POST">
                <input type="submit" />
            </form>
        </div>

        </main>
    </body>
</html>