<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Secret</title>
    </head>
    <body>
        <header>
            <div>
                <h1>Amazing Fabric</h1>
            </div>

            <nav>
                <a href="/">HOME</a>
            </nav>
        </header>

        <main>
            <p>
                <a href="https://sosewenglishfabrics.com/products/royal-ivory-large-polka-dot-crepe-scuba-by-the-yard?variant=12176015425579"><h3>Royal Blue Crepe Scuba Knit</h3></a>
                <img src="/assets/royal-blue-crepe-scuba-knit.jpg" width="300"/>
            </p>
            <hr />
            <p>
                <a href="https://sosewenglishfabrics.com/products/red-ivory-polka-dot-liverpool-knit-by-the-yard?variant=12176237396011"><h3>Scarlet Liverpool Knit</h3></a>
                <img src="/assets/scarlet-liverpool.jpg" width="300"/>
            </p>
            <hr />
            <p>
                <a href="https://sosewenglishfabrics.com/products/grey-fuchsia-savannah-double-brushed-poly-spandex-by-the-yard?variant=12342502817835"><h3>Savannah Double Brushed Poly Knit</h3></a>
                <img src="/assets/savannah-dbp.jpeg" width="300"/>
            </p>

        </main>

    </body>
</html>