<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Secret</title>
    </head>

    <body>
        <header>
            <div>
                <h1>Your Spotify-Lite Selections</h1>
            </div>

            <nav>
                <a href="/">HOME</a>
            </nav>
        </header>

        <main>

            <div>
                <form method="POST" enctype="multipart/form-data" action="/">
                    Artist: <input type="text" name="artist" />
                    Song: <input type="text" name="song" />
                    File to upload: <input type="file" name="file" />
                    <input type="submit" value="Upload" />
                </form>
            </div>

            <div>
                <ul>
                    <li th:each="song : ${songs}">
                        <p>
                            <a th:href="${song.uploadlocation}" th:text="${song.song}" />
                            <br />
                            <audio controls="controls">
                                <source th:src="${song.uploadlocation}" type="audio/mp3"></source>
                            </audio>
                            <br />
                            <span th:text="${song.song}"></span> BY:
                            <span th:text="${song.artist}"></span>
                        </p>
                        <hr />
                    </li>
                </ul>
            </div>

            <div>
                <ul>
                    <li th:each="musicObj : ${musicObjectQueue}">
                        <p>Previous Uploads:</p>
                        <p>
                            <a th:href="${musicObj.uploadlocation}" th:text="${musicObj.song}" />
                            <br />
                            <audio controls="controls">
                                <source th:src="${musicObj.uploadlocation}" type="audio/mp3"></source>
                            </audio>
                            <br />
                            <span th:text="${musicObj.song}"></span> BY:
                            <span th:text="${musicObj.artist}"></span>
                        </p>
                        <hr />
                    </li>
                </ul>
            </div>

        </main>

    </body>
</html>

<!--
EXAMPLE:
<div th:if="${greeting.list != null}">
    <h1>Result</h1>
    <ul>
    <th:block th:object="${greeting}" th:each="item : ${list}">
     <li th:text="${item.name}">Item description here...</li>
    </th:block>
    </ul>
</div>
-->