<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Secret</title>
    </head>

    <body>
        <header>
            <div>
                <h1>Your Spotify-Lite Selections</h1>
            </div>

            <nav>
                <a href="/">HOME</a>
            </nav>
        </header>

        <main>

            <div>
                <form method="POST" enctype="multipart/form-data" action="/">
                    Artist: <input type="text" name="artist" />
                    Song: <input type="text" name="song" />
                    File to upload: <input type="file" name="file" />
                    <input type="submit" value="Upload" />
                </form>
            </div>

            <div th:each="song : ${songs}">
                <span th:text="${song.song}"></span>
                <span th:text="${song.artist}"></span>
                <audio controls="controls">
                    <source th:src="${song.uploadlocation}"></source>
                </audio>
            </div>

            <!--<div>-->
                <!--<ul>-->
                    <!--<li th:each="file">-->
                        <!---->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->


            <!--<div>-->
                <!--<ul>-->
                    <!--<li th:each="file : ${files}">-->
                        <!--<p>-->
                            <!--<a th:href="${file}" th:text="${file}" />-->
                        <!--</p>-->
                        <!--<p th:if="${file.endsWith('jpg')}">-->
                            <!--<img th:src="${file}" />-->
                        <!--</p>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->


        </main>

    </body>
</html>