<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<link rel="stylesheet" href="/style.css" />-->
    <title>Upload Form</title>
</head>
<body>

<div>
    <ul>
        <li th:each="song : ${songs}">
            <p>
                <a th:href="${song.uploadlocation}" th:text="${song.song}" />
                <br />
                <audio controls="controls">
                    <source th:src="${song.uploadlocation}" type="audio/mp3"></source>
                </audio>
                <br />
                <span th:text="${song.song}"></span> BY:
                <span th:text="${song.artist}"></span>
            </p>
            <hr />
        </li>
    </ul>
</div>

</body>
</html>